<div class="col-xs-5 col-sm-5 col-centered entry">
	<h2>Enter player's name</h2>
	<ul>
		<li>
			<label>Player 1 
				<input ng-model="players.playerA.name" placeholder="Enter Player's 1 name" 
				ng-keypress="($event.which === 13)? startGame() : null"/></label>
		</li>
		<li>
			<label>Player 2 
				<input ng-model="players.playerB.name" placeholder="Enter Player's 2 name"
				ng-keypress="($event.which === 13)? startGame() : null"/></label>
		</li>
		<li>
			<button type="button" ng-disabled="!isStartEnabled()" ng-class="{disabled: !isStartEnabled()}" class="btn btn-sm btn-block btn-success" ng-click="startGame()" ng-keypress="($event.which === 13)? startGame() : null" >Start</button>
		</li>
	</ul>
</div>